.home-1
  .container
    .row
      .columns.large-12
        = image_tag 'problock.png'
        %h1 Materiales de construcción
        %p Para todo tipo de proyectos, desde remodelaciones hasta complejos habitacionales

        .row.align-justify
          .columns.large-11
            = link_to products_url, class: 'btn' do
              Ver materiales

          .columns.large-11
            = link_to nil, class: 'btn flat' do
              Solicitar cotización

.home-2
  .container
    - id = 0
    - (1..3).to_a.reverse.each do |i|
      - id += 1
      .background{ style: "background-image: url('#{image_path("samples/#{i}.png")}')", data: { background: i } }
    .row
      .columns.large-10
        .panels
          %h3 Proyectos
          .slider
            - (1..3).to_a.each do |i|
              .slide{ data: { slide: i } }
                %h4 San Gabriel #{i}
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Cras ultrices turpis nec mauris molestie, sed dignissim sapien
                  bibendum. Etiam urna erat, facilisis congue molestie non,
                  placerat porta erat.
          .controls
            = link_to nil, class: 'slick-prev' do
              = image_tag 'slick-prev.png'

            = link_to nil, class: 'slick-next' do
              = image_tag 'slick-next.png'

.home-3
  .container
    .row.align-justify
      .columns.large-6
        .panel
          %h3 Productos
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras ultrices turpis nec mauris molestie, sed dignissim sapien
            bibendum. Etiam urna erat, facilisis congue molestie non,
            placerat porta erat.
          = link_to products_url, class: 'btn' do
            Ver más materiales

      .columns.large-6
        = link_to nil, class: 'product' do
          %figure
            = image_tag 'icon-blocks.png'
            %figcaption
              Bloques

      .columns.large-6
        = link_to nil, class: 'product' do
          %figure
            = image_tag 'icon-tubos.png'
            %figcaption
              Tubos

      .columns.large-6
        = link_to nil, class: 'product' do
          %figure
            = image_tag 'icon-aridos.png'
            %figcaption
              Áridos

.home-4
  .container
    .row
      .columns.large-10.large-offset-14
        .panels
          %h3 Visítenos
          %p
            Horarios:
            %br
            %strong
              7am a 7pm de lunes a viernes
          %p
            Dirección
            %br
            %strong
              Carretera a La Unión Km 147 1/2 cantón Miraflores,
              San Miguel, El Salvador.
          = link_to nil, class: 'btn' do
            Escríbanos
