.home-1
  .container
    .row
      .columns.large-12
        = image_tag 'problock.png'
        %h1 Materiales de construcción
        %p Para todo tipo de proyectos, desde remodelaciones hasta complejos habitacionales

        .row.align-justify
          - unless main_category.nil?
            .columns.large-11
              = link_to category_url(main_category), class: 'btn' do
                Ver materiales

          .columns.large-11
            = link_to nil, class: 'btn flat' do
              Solicitar cotización

.home-2
  .container
    - @projects.reverse.each do |project|
      .background{ style: project.main_image.image.present? ? "background-image: url('#{image_path(project.main_image.image.url(:large))}')" : nil, data: { background: project.id } }
    .row
      .columns.large-10
        .panels
          %h3= link_to 'Proyectos', projects_url
          .slider
            - @projects.each do |project|
              .slide{ data: { slide: project.id } }
                %h4
                  = project.name
                = simple_format project.description

          - if @projects.count > 1
            .controls
              = link_to nil, class: 'slick-prev' do
                = image_tag 'slick-prev.png'

              = link_to nil, class: 'slick-next' do
                = image_tag 'slick-next.png'

- unless main_category.nil?
  .home-3
    .container
      .row.align-justify
        .columns.large-6
          .panel
            %h3= link_to 'Productos', category_url(main_category)
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Cras ultrices turpis nec mauris molestie, sed dignissim sapien
              bibendum. Etiam urna erat, facilisis congue molestie non,
              placerat porta erat.
            = link_to category_url(main_category), class: 'btn' do
              Ver más materiales

        - @featured_categories.each do |category|

          .columns.large-6
            = link_to category_url(category), class: 'product' do
              %figure
                = image_tag category.main_image.image.url(:small)
                %figcaption
                  = category.name

.home-4
  .container
    .row
      .columns.large-10.large-offset-14
        .panels
          %h3 Visítenos
          %p
            Horarios:
            %br
            %strong
              7am a 7pm de lunes a viernes
          %p
            Dirección
            %br
            %strong
              Carretera a La Unión Km 147 1/2 cantón Miraflores,
              San Miguel, El Salvador.
          = link_to nil, class: 'btn' do
            Escríbanos
