= form_for @quotation do |f|

  %h3
    1.
    Información personal

  .row.align-justify
    .columns.small-24.medium-11.large-11
      .control
        = f.text_field :customer_name, placeholder: 'Nombre completo'
    .columns.small-24.medium-11.large-11
      .control
        = f.text_field :email, placeholder: 'Correo electrónico'
    .columns.small-24.medium-11.large-11
      .control
        = f.text_field :phone, placeholder: 'Teléfono fijo'
    .columns.small-24.medium-11.large-11
      .control
        = f.text_field :cellphone, placeholder: 'Teléfono celular'

  %h3
    2.
    Productos a cotizar


  .row.align-justify.align-middle
    .columns.small-12.medium-17.larage-17
      %strong Producto
    .columns.small-4.medium-3.large-3
      %strong Cantidad
    .columns.small-6.medium-2.large-2

  #quotation-items
    = f.fields_for :quotation_products do |f|
      = render 'quotation_product_fields', f: f
    .links
      = link_to_add_association '+ Agregar más productos', f, :quotation_products, class: 'add-product'

  %h3
    3.
    Información para el envío

  .row
    .columns.small-24
      .control
        %strong Dirección
        = f.text_field :address, autocomplete: :off

  .control
    %strong
      Arrastre el punto "B" hasta el lugar de entrega, si es necesario
    #quotation-map.map.large
    = f.hidden_field :distance

    - unless session.key?(:show_map_example)
      - session[:show_map_example] = true
      #move-b-example.overlay.move-b-example{ data: { popup: 'move-b-example' }}
        .popup
          %p Arrastre el punto "B" hasta el lugar de entrega, si es necesario.
          = image_tag 'move-b-example.gif'
          = link_to 'Entendido', nil, class: 'btn', data: { close: 'move-b-example' }

  .control
    %strong
      ¿Cuántos kilómetros hay entre el lugar de entrega y el punto "B"?
    = f.select :distance_extra, [0, 5, 10, 15].map { |o| ["#{o} km#{o.zero? ? ' (La entrega es exactamente en el punto "B")' : ''}", o] }, {}
    .red
      En caso que el punto B no llegue hasta su obra, especifique cuantos kilómetros restan aproximadamente.

  .row.align-center
    .columns.small-20.medium-6.large-4
      = f.hidden_field :act, value: :c
      = f.button type: :submit, name: nil, class: 'btn' do
        Continuar
