#q1.quotations{ data: { id: params[:id] } }
  .container
    .breadcrumb
      = render_breadcrumbs separator: ' / '

    %h1 Cotizador

    %h3
      A continuación se detallan los viajes a realizarse para la entrega de sus productos
    %p
      Puede
      %b arrastrar
      los productos para
      %b ordenarlos
      dentro de los camiones
      y establecer una fecha de entrega para cada uno.

    .trucks
      = form_for @quotation do |f|
        #trucks.row
          = f.fields_for :trucks do |ff|
            = render 'truck_fields', { f: ff }
          .columns.small-24.medium-12.large-8
            = link_to_add_association '<span>+ Agregar otro camión</span>'.html_safe, f, :trucks, class: 'add-truck'

        .info
          %h3
            Cada camión puede transportar:

          - if @quotation_categories.any?
            .row
              - @quotation_categories.each do |quotation_category|
                .columns.small-20.medium-10.large-4
                  %strong= quotation_category.name
                  - quotation_category.products.each do |o|
                    .row
                      .columns
                        = "<b>#{o.units_by_truck}</b> <i>#{o.name}</i>".html_safe

        .row.align-center
          .columns.small-20.medium-6.large-4
            = f.button type: :submit, name: 'quotation[status]', value: :step2, class: 'btn' do
              Continuar
