.quotations
  .container
    .breadcrumb
      = render_breadcrumbs separator: ' / '

    %h1 Cotizador

    %h3
      Serán necesarios #{@quotation.trucks.length} camiones para la entrega de su pedido
    %p
      Puede
      %b arrastrar
      los productos para
      %b ordenarlos
      dentro de los camiones
      y establecer una fecha de entrega para cada uno.

    .trucks
      = form_for @quotation do |f|
        #trucks.row
          = f.fields_for :trucks do |ff|
            = render 'truck_fields', { f: ff }
          .columns.small-24.medium-12.large-8
            = link_to_add_association '<span>+ Agregar otro camión</span>'.html_safe, f, :trucks, class: 'add-truck'


        .info
          %h3
            Cada camión puede transportar:

          - if @products.any?
            .row.align-spaced
              - @products.each_slice((@products.count / 4.0).ceil) do |slice|
                .columns.small-20.medium-10.large-5
                  - slice.each do |o|
                    .row
                      .columns.small-6
                        %b= o.units_by_truck
                      .columns.small-18
                        %i= o.name

        .row.align-center
          .columns.small-20.medium-6.large-4
            = f.button type: :submit, name: nil, class: 'btn' do
              Cotizar
