.overlay{ data: { popup: "product-detail-#{project.id}" }}
  .popup
    = link_to image_tag('icon-close.png'), nil, class: 'close', data: { close: "product-detail-#{project.id}" }

    .product-detail
      .container
        - project.images.reverse.each do |image|
          .background{ style: "background-image: url('#{image_path(image.image.url(:large))}')", data: { background: "#{project.id}#{image.id}" } }
        .row
          .columns.small-24.medium-12.large-10
            .panels
              %h3
                = project.name
              .slider
                - project.images.each do |image|
                  .slide{ data: { slide: "#{project.id}#{image.id}" } }
                    = simple_format image.description

                    - if project.main_image.image.present?
                      %figure
                        = image_tag project.main_image.image.url(:medium)

              - if project.images.count > 1
                .controls
                  = link_to '#', class: 'slick-prev' do
                    = image_tag 'slick-prev.png'

                  = link_to '#', class: 'slick-next' do
                    = image_tag 'slick-next.png'
