.projects
  .container
    .breadcrumb
      = render_breadcrumbs separator: ' / '

    %h1 Proyectos
    %p
      En ProBlock nos sentimos orgullosos de haber participado en diferentes
      proyectos y demostrar la calidad con la que se han desarrollado esperamos
      continuar formando parte de las mejores obras.

    - @projects.each_slice(2) do |slice|
      .row.align-spaced
        - slice.each do |project|
          .columns.large-11
            .project
              - if project.main_image.image.present?
                %figure
                  = link_to nil, data: { open: "product-detail-#{project.id}" } do
                    = image_tag project.main_image.image.url(:large)
              %h2
                = link_to project.name, nil, data: { open: "product-detail-#{project.id}" }

              = simple_format project.description

              = link_to nil, class: 'more', data: { open: "product-detail-#{project.id}" } do
                Leer más
            = render partial: 'detail', locals: { project: project }
