- if controller_name == 'home'
  %header
    .container
      %ul
        %li
          %h2 San Miguel, El Salvador.
        %li
          = link_to 'Quiénes somos', about_pages_url
        - unless main_category.nil?
          %li
            = link_to 'Productos', category_url(main_category)
        %li
          = link_to 'Proyectos', projects_url
        %li
          .group
            %span Llámenos
            = link_to '2641-5090', 'tel:2641-5090'
            = link_to image_tag('icon-mail.png'), new_contact_url
        %li
          = render partial: 'layouts/application/navbar'

- else
  %header.i
    .container
      %ul
        %li
          = link_to root_url do
            = image_tag 'problock.png'
        %li
          = link_to 'Inicio', root_url
        %li
          = link_to 'Quiénes somos', about_pages_url
        - unless main_category.nil?
          %li
            = link_to 'Productos', category_url(main_category)
        %li
          = link_to 'Proyectos', projects_url
        %li
          %span
            San Miguel, El Salvador
          .group
            %span Llámenos
            = link_to '2641-5090', 'tel:2641-5090'
            = link_to image_tag('icon-mail.png'), new_contact_url
        %li
          = render partial: 'layouts/application/navbar'
