%header
  .container
    %ul
      %li
        %h2 San Miguel, El Salvador.
      %li
        = link_to 'Quiénes somos', nil
      %li
        = link_to 'Productos', nil
      %li
        = link_to 'Proyectos', nil
      %li
        .group
          %span Llámenos
          = link_to '2641-5090', 'tel:2641-5090'
          = link_to image_tag('icon-mail.png'), nil
