.products
  .container
    .breadcrumb
      = render_breadcrumbs separator: ' / '

    .cover{ style: @category.cover.image.present? ? "background-image: url('#{image_path(@category.cover.image.url)}')" : nil }
      %h1 Productos
      .tabs
        - @categories.each do |category|
          = link_to category.name, category_url(category), class: category == @category || category == @category.try(:category) ? 'active' : nil

    - if @main.categories.any?
      .filters
        = link_to 'Todos', category_url(@main), class: @main == @category ? 'active' : nil
        - @main.categories.each do |category|
          = link_to category.name, category_url(category), class: category == @category ? 'active' : nil

    .row.align-spaced
      - @category.products.each do |product|
        .columns.small-22.medium-9.large-7
          .product
            - if product.main_image.image.present?
              = image_tag product.main_image.image.url(:small)
            %h2
              = product.name
            = simple_format product.description

.prefooter
  .container
    .row.align-center
      .columns.small-24.medium-10.large-6
        %strong ¿Cotización?
        = link_to 'Escríbanos', nil, class: 'btn'
        = link_to 'Llámenos 2641-5090', 'tel:2641-5090', class: 'tel'
