!!! 5
%html{ lang: I18n.locale }
  %head
    = display_meta_tags
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBlfz1tQxWykQmPY9_m3Gz38cmdmXfZx1Y&callback=initMap', defer: true
    = csrf_meta_tags

    = render partial: 'layouts/application/analytics'
  %body
    = render partial: 'layouts/application/header'
    %main
      = yield

    #map.map
      / map will be load here using google maps api
    = render partial: 'layouts/application/footer'
